@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700;900&display=swap');

body {
    text-align: center;
    margin-top: 100px;

    font-family: 'Lexend Deca', sans-serif;

    background-color: #e6e6e6;
}

h1 {
    font-weight: 900;
    margin-bottom: 30px;
}

button {
    font-weight: 700;
    font-size: 22px;
    padding: 12px 25px;

    border-radius: 12px;
    border: none;

    background-color: #4CAF50;
    color: white;

    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #45a049;
}

p {
    font-weight: 400;
    font-size: 26px;
    margin-top: 20px;
}
